<!DOCTYPE html>
{% extends 'base.html' %}

{% block main_body %}
    <div class="container"><img width="69" height="69"></div>
    <section>
        <div style="max-width: 1000px;margin: 0 auto;">
            {{ pdf_file }}
            <!-- Start: Community Chat/Comments -->
            <div class="card">
                <div class="card-header">
                    <h3>Comments</h3>
                </div>
                <div class="card-body">
                    <!-- Start: User Tasks and User Activity Streams - List Group -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="d-flex media">
                                <div></div>
                                <div class="media-body">
                                    <div class="d-flex media" style="overflow:visible;">
                                        <div><img class="me-3" style="width: 25px; height:25px;" src="assets/img/user-photo4.jpg"></div>
                                        <div style="overflow:visible;" class="media-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p><a href="#">Sara Doe:</a> This guy has been going 100+ MPH on side streets. <br>
<small class="text-muted">August 6, 2016 @ 10:35am </small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex media">
                                <div></div>
                                <div class="media-body">
                                    <div class="d-flex media" style="overflow:visible;">
                                        <div><img class="me-3" style="width: 25px; height:25px;" src="assets/img/user-photo4.jpg"></div>
                                        <div style="overflow:visible;" class="media-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p><a href="#">Brennan Prill:</a> This guy has been going 100+ MPH on side streets. <br>
<small class="text-muted">August 6, 2016 @ 10:35am </small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <form>
                                <!-- Start: 1 Row 2 Columns -->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10"><textarea class="form-control" placeholder="write comments here..."></textarea></div>
                                        <div class="col-md-2" style="text-align: right;"><button class="btn btn-primary" type="button">Comment</button></div>
                                    </div>
                                </div><!-- End: 1 Row 2 Columns -->
                            </form>
                        </li>
                    </ul><!-- End: User Tasks and User Activity Streams - List Group -->
                </div>
            </div><!-- End: Community Chat/Comments -->
        </div>
        {% block modal %}
        
        {% endblock modal %}
    </section><!-- Start: Footer Dark -->
{% endblock main_body %}
